/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height: 65px;
}

header div{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0 300px 0 10px;
}

header span{
  color: MediumAquamarine;
  margin: 0 10px;
}

nav ul{
  flex-wrap: wrap;
  margin: auto 40px;
  min-width: 180px;
}

nav li{
  display: inline-block;
  margin: 0 10px;
}

nav a{
  text-decoration: underline;
}

.header_item{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logopic{
  flex-shrink: 0;
}

/* CONTENT */

.container{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.column{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.column.large {
  min-width: 630px;
}

.column.medium {
  min-width: 300px;
}

.column.small {
  min-width: 240px;
}

.squares{
  display: flex;
  height: 600px;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: space-between;
}

.square {
  display: inline-block;
  width: 300px;
}

.icon{
  border: 1px solid red;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
}

.icon h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0 0;
}

#main h3{
  font-size: 40px;
  text-align: left;
}

.content{
  border: 3px solid black;
}

.content h1{
  font-size: 23px;
}

.content p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#main{
  background-image: url(../images/main.jpg);
}

#earth{
  background-image: url(../images/earth.jpg);
}

#cameras{
  background-image: url(../images/camera.jpg);
}

#cats{
  background-image: url(../images/cats.jpg);
}
